@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Serif');

.quote2{
  font-family: 'Dancing Script', serif;
  font-size: 1.8em;
  font-weight: bold;
  color: #001242;
  text-align: center;
  width: 1236.6;
  height: 70.5;
  border:.3em solid #000;
  border-radius: .4em;
  box-shadow: 3px 3px 3px #00f;
  text-shadow: 3px 3px 3px #5762D5;
letter-spacing: normal;
}

.quote1{
font-family: 'Noto Serif', serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #000;
  text-align: center;
  width: 1236.6;
  height: 120.5;
  border:.3em solid #000;
  border-radius: .4em;
  background-color: #fff;
  box-shadow: 3px 3px 3px #00f;
  text-shadow: 3px 3px 3px #5762D5;
line-height: inherit;
  }

  h1{
text-align: center;
border:.3em solid #000;
border-radius: .4em;
box-shadow: 3px 3px 3px #00f;
text-shadow: 3px 3px 3px #5762D5;
  }
